.hero {

    @include breakpoint-up(large) {
        display: grid;

        grid-auto-flow: column;

    }

    &__image {
        content: url(../assets/tablet/image-hero.png);
        transform: translateX(-5%);
        width: 110%;

        @include breakpoint-up(large) {
            content: url(../assets/desktop/image-hero-left.png);
            width: 100%;
        }
    }

    &__image2 {
        @include breakpoint-up(large) {
            content: url(../assets/desktop/image-hero-right.png);
            width: 100%;
        }
    }

    p {
        margin-bottom: 3rem;
    }

    button {
        display: block;
        margin: auto;
        margin-top: 1rem;

        @include breakpoint-up(medium) {
            display: inline;
        }

        @include breakpoint-up(large) {
            margin-left: .5rem;
            margin-right: .5rem;
        }
    }
}